<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dwarfmondo - Matt Vasquez</title>
    <script src="https://use.typekit.net/bjn1hno.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <%= stylesheet_link_tag "normalize" %>
    <%= stylesheet_link_tag "screen" %>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= javascript_include_tag "modernizr" %>
  </head>
  <body>
    <header role="banner">
      <div class="header-inner">
        <div class="me"></div>
        <h1>Matt Vasquez</h1>
        <ul class="inline-list">
          <li>
            UI/UX Designer
          </li>
          <li>
            Full Stack Developer
          </li>
          <li>
            Scrum Master
          </li>
        </ul>
      </div>
    </header>
    <main role="main">
      <article class="row">
        <div class="small-12 medium-10 large-8 medium-centered large-centered columns">
          <%= yield %>
        </div>
      </article>
    </main>
    <footer id="site-footer">
      <div class="row">
        <div class="small-12 columns text-center">
          <a href="#top" class="text-small mute">Back to top</a>
        </div>
      </div>
    </footer>
    <%= javascript_include_tag  "all" %>
    <script>
      $(document).ready(function(){
        App.start();
      });
    </script>
  </body>
</html>
