<section>
  <h2>Hello</h2>
  <p>
    My name is Matt Vasquez. Nice to meet you. I'm a software developer living in Fort Worth, Texas. Most of my days are spent crafting software and leading development teams.
    <br />
    <b>I love what I do.</b>
  </p>
  <p>
    I'm probably best described as a generalist, and I'm ok with that. I embrace it! It allows me to dip my toe into each layer of an application without being pigeonholed to just the database or front-end. My ultimate goal is to craft awesome software with a balance of form and function. Software that delights. I believe that software is at the intersection of art and science, and that is why I love what I do.
  </p>
  <p>
    When I'm not typing on a keyboard you can find me on the golf course or outside with my wife and two kids enjoying some beautiful Texas weather.
  </p>
  <hr>
  <p>
    Building something great? Need some help? Let's get in touch! Feel free to <%= mail_to 'mattvasquez@gmail.com', 'email' %> me and let's build the next rad thing together!
  </p>
  <ul class="small-block-grid-1 medium-block-grid-4">
    <li>
      <a href="https://www.linkedin.com/in/cmattvasquez" class="ss-linkedin" target="_blank">
        LinkedIn
      </a>
    </li>
    <li>
      <a href="https://github.com/dwarfmondo" class="ss-github" target="_blank">
        Github
      </a>
    </li>
    <li>
      <a href="https://dribbble.com/cmv" class="ss-dribbble" target="_blank">
        Dribbble
      </a>
    </li>
    <li class="medium-text-right">
      <a href="/assets/images/matt-vasquez-resume-2018.pdf" class="mute">Download Resume</a>
    </li>
  </ul>
</section>
<section>
  <h2>Experience</h2>
  <% data.experience.work.each do |work| %>
    <h5 class="subheader upcase bold margin-bottom-10">
      <%= work.title %>
    </h5>
    <p>
      <a href="<%= work.url %>" target="_blank"><%= work.url %></a>
    </p>
    <% if work.description.present? %>
      <p>
        <%= work.description %>
      </p>
    <% end %>
    <% if work.responsibilities.present? %>
      <p>
        My responsibilities include&hellip;
      </p>
      <ul>
        <% work.responsibilities.each do |responsibility| %>
          <li>
            <%= responsibility %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</section>
<section>
  <h2>Education</h2>
  <h5 class="subheader bold margin-bottom-10">
    University of North Texas, Denton, TX
  </h5>
  <p>
    Bachelor of Science, Business Computer Information Systems
  </p>
</section>
<section>
  <h2>Skills, Certifications, Awards</h2>
  <ul>
    <% data.skills.each do |skill| %>
      <li>
        <%= skill %>
      </li>
    <% end %>
    <% data.certifications.each do |certification| %>
      <li>
        <%= certification %>
      </li>
    <% end %>
    <% data.awards.each do |award| %>
      <li>
        <%= award %>
      </li>
    <% end %>
  </ul>
</section>
